@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
	font-family: 'Source Sans Pro', sans-serif;
}

form fieldset{
	display: inline-block;
}

.radioButton{
	float: none;
	display: inline;
	margin-right: 0.1em;
	width: 2em;
}

.redd{
	color: red;
}

form label{
	width: 8em;
	margin-right: 1em;
	float: left;
	text-align: right;
	display: block;
}

form input{
	width: 15em;
	margin: 10px;
}

form select option{
	width: 6em;
}

#submit{
	margin-top: 2em;
	float: right;
}

.errorClass{
	background-color: #CC6666;
}

#errorDiv{
	color: red;
}

.errorFeedback{
	visibility: hidden;
}

.phoneTypeError{
	margin-left: 1.2em;
	padding: 0.1em;
	background-color: #CC6666;
}